.ProfileButtons{
    width: 20rem;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}



button {

	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
}

#ClearHistoryButton{
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
    text-shadow:0px -1px 0px #7a2a1d;
}

#LogoutButton{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    text-shadow:0px 1px 0px #ffffff;
    color:#777777;
}