.TranslatorContainer {
    /* display: inline-block; */
}

.TranslatedTextBox {
    display: flex;
    flex-direction: row;
    box-shadow: 3px 4px 17px -6px rgba(0, 0, 0, 1);
    max-width: 60rem;
    width: 100%;
    height: 15rem;
    padding: 2rem;
    border-bottom: 1rem solid #283450;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
    margin: auto;
    margin-top: 3rem;
}

.TranslatedTextBox img {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.SpacingDiv {
    width: 40px;
    height: 40px;
    display: inline-block;
}