.NavBar{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: #3E517A;
    border-bottom: 4px solid #283450;
    margin-bottom: 5em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: left;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.NavTitle{
    height: 100%;
    line-height: 3em; 
    vertical-align: middle;
}

.NavLinks{
    height: 100%;
    line-height: 3em; 
    vertical-align: middle;
}

#TranslatorLink{
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

#ProfileLink{
    text-decoration: none;
    color: white;
}