form{
    display: inline-block;
}

.InputBox{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    border: 2px solid #283450;
    padding: 6px;
    max-width: 40rem;
    width: 100%;
    border-radius: 100px;
    margin: auto;
}

.KeyboardIcon{
    font-size: 2rem;
    line-height: 2em; 
    vertical-align: middle;
    color: #283450;
    border-right: 2px solid #283450;
    margin-right: 1rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
}

.InputField{
    background-color: #add8e6;
    font-size: 2rem;
    width: 100%;
    border-style: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.SendInputBtn{
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    color: white;
    font-size: 2rem;
    background-color: #C2E812;
    border-color: #8eab0e;
}

.SendInputBtn:hover{
    background-color: #8eab0e;
    color: #C2E812;
    cursor: pointer;
}

