.MainTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 5em;
}

.MainTitle .Avatar img{
    width: 10rem;
    margin-right: 4rem;
    border-bottom: 2px solid #283450;
}

.TitleText{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

